.formContainer{
background-color:  #576aa7 ;
height: 100vh ;
 display : flex ;
align-items : center ;
justify-content : center ;

.logo{
    color: #5c6684;
    font-weight: bold;
    font-size: 24px;
}

.title{
    color: #5c6684;
    font-weight: bold;
    font-size: 15px;
}

.formWrapper{
    background-color: white;
    padding:20px 60PX;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    form{
        display: flex;
        flex-direction: column;
        gap: 15PX;

        input{
            padding: 15px;
            border:none;
            border-bottom:1px solid #c2c5cd;
        &::placeholder{
            color: #5c6684;
        }
        }

        button{
            background:red;
            color: white;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }

        label{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 12px;
            cursor: pointer;
            img{
                width: 60px;
            }
        }
    }
    p{
        color: #5c6684;
        font-size: 12px;
        margin: 10px;
    }
}
}

.home{
    background-color:  #576aa7 ;
    height: 100vh ;
     display : flex ;
    align-items : center ;
    justify-content : center ;

    .container{
        border: 1px solid black;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display:flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background:white;
            border-right: 2px solid black;

            .navbar{
                display: flex;
                align-items: center;
                height: 50px;
                padding: 10px;
                justify-content: space-between;

                .logo{
                    font-weight: bold;

                }   

                .user{
                    display: flex;
                    gap: 10px;
                }

                img{
                    background: yellow;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                button{
                    background:red;
                    color: white;
                    
                    font-size: 10px;
                    border: none;
                    cursor: pointer;
                }

            }

            
        }

        .search{
            border-radius: 1px solid black ;

            .searchForm{
                padding: 10px;

                input{
                    background: transparent;
                    border: none;
                    color: white;
                    outline: none;

                    &::placeholder{
                        color: lightgrey;
                    }

                }
            }

            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                &:hover{
                    background-color: lightblue;
                }

                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                };
            }
        }

        .chat{flex: 2};
    }
}